doctype
html
  head
    meta
    title cv
    link
  body
    form
      h2.contact-title Contact Me
      input(
        class='form-control',
        type='text',
        name='user'
      )
      input(
        class='form-control',
        type='email',
        name='email'
      )
      input(class='form-control' type='text' name='subject')
      button(style='background-color: green; color: white') Send
      button(style={'background-color': 'green', 'color': 'white'}) Send
      button Reset
      
