doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description' content='lear pugJs')
    title cv
    include includes/styles.pug
  body
    form
      h2.contact-title Contact Me
      input(
        class='form-control',
        type='text',
        name='user'
      )
      input(
        class='form-control',
        type='email',
        name='email'
      )
      input(class='form-control' type='text' name='subject')
      button(style='background-color: green; color: white') Send
      button(style={'background-color': 'green', 'color': 'white'}) Send
      button Reset
    include includes/scripts.pug
      
