extends layout

block content
    h1 #{article.title}
    br
    h5 written by: #{article.author}
    br
    br
    p #{article.body}
    hr
    a.btn.btn-warning(href="/article/edit/" + article._id) Edit
    a.btn.btn-danger.delete-article(href="#", data-id=article._id, data-title=article.title) Delete
