extends layout

block content
    h1 #{title}
    ul
        each article, index in articles
            li ##{article.id} - #{article.title}
            li Body: #{article.body}
            li By: #{article.author}
            hr
            br
